fastapi==0.111.1
uvicorn[standard]==0.23.1
pydantic==2.11.0
pytest==8.4.2
spacy==3.8.7
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl
